name: Waka Readme

on:
  schedule:
    - cron: "0 0 * * *"  # 每天 UTC 0 点执行（北京时间早 8 点）
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          wakatime_api_key: ${{ secrets.WAKATIME_API_KEY }}
          gh_token: ${{ secrets.GH_TOKEN }}
